*{
    padding: 0;
    margin: 0;
}
body,html {
    overflow-x:hidden;
    text-decoration: none;
    scroll-behavior: smooth;
    
    }

html.no-scroll {
        overflow: hidden !important; 
        text-decoration: none;
        scroll-behavior: smooth;
    }

body.no-scroll {
    overflow: hidden !important; 
    text-decoration: none;
    scroll-behavior: smooth;
}

/***************** NAVBAR ******************/
.logo{
   height:160px;
   width:auto;
}


li{
    list-style: none;
   
}

nav a,
nav a:visited{
    color:purple;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

a:hover{
   text-decoration: underline;
   transition: 0.5s;
   color: rgb(67, 0, 67);
}

#download{
    background-color: purple;
    border-radius:8px ;
    border: 4px purple;
    color:white;
    font-size: 18px;
    padding: 3px;
}

#download:hover{
    background-color: white;
    border-radius:8px ;
    color:purple;
    font-size: 18px;
    text-decoration: none;
    transition: 500ms;

}

nav {
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top of the viewport */
    background:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    font-size: 20px;
    font-family: "Futura" ;
    color:purple;
}

nav h3 {
    font-size: 24px; /* Adjust the default font size as needed */
    color:purple
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 0;

}

nav li {
    padding: 3px 45px; /* Adjust the second value (right/left padding) as needed */
}

 #num{
    display: none;
    cursor:pointer;
}



#icons{
    cursor:pointer;
    display: none;
    z-index: 10;
    font-size: 25px;
}

/****************** Maincontent ******************/


#main-content {
    padding: 20px;
    background-color: #fdc621;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



#sub-mc {
   position: relative;
}

#main-content h3 {
    font-size: 50px;
    color: white;
    margin-left: 20px; /* Add margin for spacing */
    font-family: "Futura";
}

#main-content p {
    font-size: medium;
    color: white;
    margin-left: 20px; /* Add margin for spacing */
    font-family: "Futura";
}

#main-content img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}


#sub-mc {
    display: inline-block;
    padding-top: 50px;
    padding-left: 150px;
}

#bn {
    padding-top: 80px;
    padding-left: 15px;
    width: 150px;
    height: 50px;
  }





/****************** MediaScreen ******************/

@media (max-width:900px){
    #icons{
        display: block;
    }
    #icons:before{
        content:"\2630" ;
    }
    #icons.actived::before {
        content: "\2715"; /* Cross icon */
       
    }
    
    #num.activ{
        display: block;

    }

    
    nav{
        height:80px;
    }

    nav h3{
        font-size: 21px;
    }
  

    nav ul{
        position: fixed;
        left: -100%;
        top:0;
        flex-direction: column;
        background: white;
        width: 100%;
        height:100%;
        text-align: center;
        transition: 0.25s;
        justify-content: center;
       
    }
    nav ul.active {
        left: 0;
    }
    nav li{
        padding: 10px 0;
        
    }
    nav li:hover{
        background: purple;
    }
    nav a :hover{
        color: white;
    }
    nav.active ul{
        left:0;

    }
    nav{
        font-size: 23px;
    }

    nav a,
    nav a:visited, nav p{
        color: purple;
    }

    #download{
        background-color: white;
        color: purple;
        font-size: 23px;
    }
    
    #bn.active{
    display: none;
}

#main-content {
    padding: 10px; /* Adjust padding for smaller screens */
}

#sub-mc {
    padding-top: 20px; /* Adjust spacing for smaller screens */
    padding-left: 24px; /* Adjust spacing for smaller screens */
}



#main-content h3{
    font-size: 23px; /* Adjust text size for smaller screens */
    margin-left: 10px; /* Adjust margin for smaller screens */
}
#main-content p {
    font-size: 12px; /* Adjust text size for smaller screens */
    margin-left: 10px; /* Adjust margin for smaller screens */
}

#bn {
    padding-top: 20px; /* Adjust spacing for smaller screens */
    padding-left: 10px; /* Adjust spacing for smaller screens */
    width: 120px; /* Adjust button size for smaller screens */
    height: 40px; /* Adjust button size for smaller screens */
}

#main-content img{
    width: 125px;
   
}


}



